@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: #000;
  text-decoration: none;
  transition: 0.5s all;
}

ul, ul li, ol, ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}


.card-section {
  position: relative;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.card-section .single-list {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 40px;
}



.card-section h2 {margin: 20px 0;}

.card-section .card {
  border-radius: 5px;
  overflow: hidden;
}

.card-section a {
  background-color: #00b396;
  color: #fff;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 16px;
}

.card-section a:hover {
  background-color: #028973;
  color: #fff;
}

.card-title {
  font-size: 21px;
  padding: 8px 0;
}